:root {
  --main-bgd-color: #ffffff;
  --second-bgd-color: #2f303a;
  --work-bgd-color: #f5f4fa;
  --maim-text-color: #212121;
  --logo-text-color: #000000;
  --logo-second-text-color: #ffffff;
  --second-text-color: #757575;
  --hero-text-color: #ffffff;
  --portfolio-btn-hover: #ffffff;
  --portfolio-btn-color: #f5f4fa;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

/* General Styles */
html,
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Header style */
.header .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--maim-text-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.navigation .logo-text {
  color: var(--logo-text-color);
}

.link.main-link {
  color: var(--accent-color);
}
.link.email-link:hover,
.link.email-link:focus {
  color: var(--accent-color);
}

.link.tel-link {
  color: var(--second-text-color);
}

/* Main Content Styles index.html */
/* Start */
/* Hero Style */
.hero {
  background-color: var(--second-bgd-color);
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}
.hero .button:hover {
  cursor: pointer;
}

/* Peculiarities Style */
.pecul .pecul-title {
  display: none;
}

.pecul .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--maim-text-color);
}

.pecul .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--second-text-color);
}

/* Job Styles */

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--maim-text-color);
}

/* Team Styles */

.team {
  background-color: var(--work-bgd-color);
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--maim-text-color);
}

.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-text-color);
}
/* Finish */

/* Portfolio content Style */
/* Start */

.portfolio .title {
  display: none;
}

.portfolio .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--maim-text-color);
  background-color: var(--portfolio-btn-color);
  border: none;
}
.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--portfolio-btn-hover);
  background-color: var(--accent-color);
  cursor: pointer;
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--maim-text-color);
}

.example-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}
/* Finish */

/* Footer Styles */
.footer {
  background-color: var(--second-bgd-color);
}
.footer .logo-text {
  color: var(--logo-second-text-color);
}
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress .local {
  color: var(--logo-second-text-color);
  text-decoration: none;
}
.adress .local:hover,
.adress .local:focus {
  color: var(--accent-color);
}

.adress .link {
  text-decoration: none;
  color: var(--footer-link-color);
}

.adress .link:hover,
.adress .link:focus {
  color: var(--accent-color);
}
